body {
  background: linear-gradient( rgba(246,247,249,0.7), rgba(246,247,249,0.7)), url(https://images.pexels.com/photos/515294/pexels-photo-515294.jpeg) no-repeat center center fixed;
  margin:0;
  padding:0;
  font-family: 'Open Sans', sans-serif;

}

html {
  margin:0;
  padding:0;
}

#logoImg {
  width: 30%;
}

#logoImgContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(246,247,249,0.7);
  width: 100%;
  height: 25%;
  padding-top: 21px;
}

#logoTextContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(246,247,249,0.7);
  width: 100%;
}

#logoDescriptionContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(246,247,249,0.7);
  width: 100%;
  height: 10%;
}

#logoDescriptionContainer > span {
  font-style: italic;
  margin-top: -13px;
  font-size: 20px;
  color: #8381a7;
}

#logoText {
  font-family: 'Open Sans', sans-serif;
  font-size: 44px;
  font-weight: bold;
  letter-spacing:3px;
  margin-bottom: 15px;
  background: -webkit-linear-gradient(#bfb9b9, #8a8686,#504f4f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* span {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
} */

#mainContainer {
  /* display: flex;
  justify-content: space-evenly; */
  /* background-color: green; */
  overflow: hidden;
  width: 99%;
  height: auto;
  padding: 10px 1%;
  margin: 10px 0.5%;
  box-sizing: border-box;
  /* align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap; */
  /* display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  grid-row-gap: 1.5em;
  grid-column-gap: 2em; */
}

.mainContainerDiv {
  width: 49%;
  float: left;
  background:linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95));
    padding: 20px 2.5%;
    padding-top: 30px;

  margin: 10px 0.5%;
  box-sizing: border-box;
  border-radius: 5px;
  /* padding-bottom: 120%;
  margin-bottom: -116%; */
  overflow: hidden;
}

.mainSpan {
  color: white;
  font-size: 18px;
  letter-spacing:0.6px;
  font-weight: 100;
}

li {
  color: white;
  font-size: 17px;
  font-style: italic;
  font-weight: 100; 
}

#downloadsContainer {
  /* grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1; */
  width: 97%;
  float: left;
  margin: 10px 0.5%;
  padding: 10px 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  font-size: 3em;
  border: none;
  /* background-color: bisque; */
}

#downloadsBox {
  /* background: linear-gradient(
    rgba(35,43,85,0.75),
    rgba(35,43,85,0.95)); */
    /* border:2px solid blue; */
  box-sizing: border-box;
  border-radius: 5px;
  box-sizing: border-box;
}

#octocat {
  height: 75px;
  margin: auto;
}
h6{
  padding: 0;
  margin: 0;
  font-size: 15px;
  text-align: center;
}

#dbView {
  height: 200px;
  display: block;
  margin-bottom:0px;
  margin: auto;
}

#dbDiff {
  height: 200px;
  display: block;
  margin: auto;
  padding-bottom: 4.7px;
}

#modalContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: rgba(8, 13, 24, 0.7);
}

#modalImg {
  height: 80%;
  /* margin-left: 25px;
  margin-right: 25px; */
  margin-top: 50px;
  margin-bottom: 25px;
}

#leftArrow {
  font-size: 75px;
  background-color: transparent;
  color: white;
}

#rightArrow {
  font-size: 75px;
  background-color: transparent;
  color: white;
}

#arrowButton {
  background: none;
  border: none;
}

#arrowButton:focus {
  outline: 0;
}

#close {
  align-self: flex-end;
  font-size: 75px;
  background-color: transparent;
  color: white;
  border: none;
}

#close:focus {
  outline: 0;
}
.mainContainerDiv > span {
  line-height:30px;
  height:30px;
}
@media only screen and (max-width: 800px) {
  #mainContainer{

  /* background-color: red; */
  /* width:97%; */
  }
  .mainContainerDiv{
    width:99%;
    padding: 20px 3%;
    margin:10px 0.6%;
    /* padding-bottom: 100%;
    margin-bottom: -100%; */
  }

  #modalImg{
    height: 45%;
    width: auto;
    /* margin: auto; */
  }
  #modalContainer{
    display: block;
    margin: auto;
  }
}

#downloadForMac {
  height: 10%;
}

#downloadForWindows {
  height: 10%;
}

h6 {
  font-family: 'Nunito';
  font-size: 20px;
}

.example-image {
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}